<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.redrocket.photoeditor">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".PhotoEditorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.gallery.view.GalleryActivity"
            android:label="@string/gallery_title">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.crop.view.CropActivity"
            android:label="@string/crop_title"/>
        <activity
            android:name=".presentation.effects.view.EffectActivity"
            android:label="@string/effect_title"/>
        <activity
            android:name=".presentation.stickers.view.StickerScreenActivity"
            android:label="@string/sticker_title"/>
        <activity
            android:name=".presentation.save.view.SaveActivity"
            android:label="@string/save_saving_title"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bb0146c9b67a494460152b05f2e45805800a34cb" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>